/*!
  template  :https://usagidesign-e.com/download/
  file      :kaku_cafe
  Chelo
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
.header {
  padding-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/first-view_img.png");
  background-size: cover;
  background-position: center;
  height: 768px;
  max-width: 100vw;
}

@media screen and (max-width: 1200px) {
  .header {
    height: 60vh;
  }
}

.header-navigator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

@media screen and (max-width: 1200px) {
  .header-navigator {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 5vw;
  }
}

.site-logo__img {
  height: 36px;
}

.top-navigator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
}

.top-navigator__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-navigator__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 38px;
  color: #fffff7;
}

@media screen and (max-width: 1200px) {
  .top-navigator {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #1b1310;
    z-index: 2;
  }
  .top-navigator__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
  }
  .top-navigator__item {
    padding-left: 0px;
  }
  .top-navigator__item + .top-navigator__item {
    padding-top: 40px;
  }
}

.burger-btn {
  display: none;
}

@media screen and (max-width: 1200px) {
  .burger-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 39px;
    height: 39px;
    position: relative;
    z-index: 3;
    border: none;
  }
  .burger-btn .burger-btn__btn--top, .burger-btn .burger-btn__btn--mid, .burger-btn .burger-btn__btn--bottom {
    width: 20px;
    height: 1px;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #fff;
  }
  .burger-btn__btn--top {
    top: 10px;
  }
  .burger-btn__btn--top-close {
    -webkit-transform: translate(-50%, 10px) rotate(45deg) !important;
            transform: translate(-50%, 10px) rotate(45deg) !important;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .burger-btn__btn--mid {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .burger-btn__btn--mid-close {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .burger-btn__btn--bottom {
    bottom: 10px;
  }
  .burger-btn__btn--bottom-close {
    -webkit-transform: translate(-50%, -8px) rotate(-45deg) !important;
            transform: translate(-50%, -8px) rotate(-45deg) !important;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}

@media screen and (max-width: 1200px) {
  .nav-wrapper {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .nav-wrapper__slide-in {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.main-contents {
  background-image: url("../img/bgimg_other.png");
  max-width: 100vw;
}

.concept {
  padding-top: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.concept__img {
  padding-left: 46px;
}

@media screen and (max-width: 1200px) {
  .concept {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 5vw;
  }
  .concept__img {
    width: 80vw;
    -o-object-fit: cover;
       object-fit: cover;
    padding-left: 0;
    padding-top: 20px;
  }
}

.concept-info {
  width: 538px;
  max-width: 80vw;
}

.concept-info--info {
  width: 538px;
  max-width: 80vw;
  text-align: right;
}

.concept-info__title {
  font-size: 3.9375rem;
  color: #372800;
  padding-bottom: 18px;
}

.concept-info__sub-title {
  font-size: 1.875rem;
  color: #4e3d1c;
  padding-bottom: 41px;
}

.concept-info .concept-info__message1, .concept-info .concept-info__message2, .concept-info .concept-info__message3 {
  font-size: 1rem;
  color: #3d3d3d;
}

.concept-info__message2 {
  line-height: calc(40 / 16);
}

@media screen and (max-width: 1200px) {
  .concept-info--info {
    text-align: left;
  }
}

.select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 90px;
  padding-bottom: 55px;
}

.select__img {
  padding-right: 46px;
}

@media screen and (max-width: 1200px) {
  .select {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-left: 5vw;
  }
  .select__img {
    width: 80vw;
    -o-object-fit: cover;
       object-fit: cover;
    padding-top: 20px;
    padding-right: 0;
  }
}

.info {
  padding-top: 100px;
  padding-bottom: 90px;
  background-image: url("../img/bgimg-info.png");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__title {
  font-size: 3.9375rem;
  color: #fffff7;
  padding-bottom: 18px;
}

.info__sub-title {
  font-size: 2.375rem;
  color: #fffff7;
  padding-bottom: 38px;
}

@media screen and (max-width: 1200px) {
  .info {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 5vw;
  }
}

.info-box {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 825px;
  height: 337px;
  background-color: #fffff7;
}

.info-box__text-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 345px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 70vw;
}

.info-box__message {
  font-size: 1.125rem;
  line-height: calc(27.2 / 18);
  text-align: center;
  color: #626d83;
  padding-top: 19px;
}

@media screen and (max-width: 1200px) {
  .info-box {
    width: 80vw;
    height: auto;
    padding-top: 5vw;
    padding-bottom: 5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-box__img {
    width: 33vw;
    padding-bottom: 5vw;
  }
}

.info-box-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-box-logo__title {
  font-size: 1.4375rem;
  padding: 20px 0;
}

.info-box-logo__decoration {
  height: 20px;
}

.menu {
  padding-top: 100px;
  padding-bottom: 88px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__title {
  font-size: 3.9375rem;
  color: #372800;
  padding-bottom: 18px;
}

.menu__sub-title {
  font-size: 2.375rem;
  color: #4e3d1c;
  padding-bottom: 40px;
}

.menu__message {
  font-size: 1rem;
  line-height: calc(27.2 / 16);
  padding-top: 40px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .menu {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 5vw;
  }
  .menu__message {
    text-align: left;
  }
}

.menu-box {
  height: 456px;
  width: 1170px;
  background-color: #fffff7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-box__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-box__img {
  height: 275px;
  width: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-box__menu-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.125rem;
  color: #372800;
  padding-top: 27px;
  padding-bottom: 10px;
}

.menu-box__price {
  font-size: 1.25rem;
  color: #b84b1b;
}

.menu-box__price--unit {
  font-size: 0.875rem;
}

@media screen and (max-width: 1200px) {
  .menu-box {
    width: 80vw;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
  .menu-box__img {
    width: 33vw;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu-box__item {
    padding-bottom: 5vw;
  }
}

.access {
  padding-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.access__title {
  font-size: 3.9375rem;
  color: #372800;
  padding-bottom: 20px;
}

.access__sub-title {
  font-size: 1.9375rem;
  color: #4e3d1c;
  padding-bottom: 38px;
}

.access__message {
  font-size: 1rem;
  line-height: calc(27.2 / 16);
  padding-top: 40px;
  padding-bottom: 88px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .access {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 5vw;
  }
  .access__message {
    text-align: left;
    width: 80vw;
  }
  .access__map {
    width: 80vw;
  }
}

.access-map {
  width: 1170px;
  height: 341px;
}

.access-gmap {
  width: 1200px;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.access-gmap__map {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .access-gmap {
    width: 80vw;
  }
  .access-gmap__map {
    width: 80vw;
  }
}

.footer {
  padding-top: 66px;
  padding-bottom: 48px;
  background-image: url("../img/bgimg_footer.png");
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__adress {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 1rem;
  color: #fffff7;
  line-height: calc(30 / 16);
  text-align: center;
}

.footer__mail {
  height: 33px;
}

.footer__navigator {
  padding: 50px 0;
}

.footer__copyright {
  font-size: 0.875rem;
  color: #fffff7;
}

@media screen and (max-width: 1200px) {
  .footer {
    padding-left: 5vw;
    padding-right: 20px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100vw;
  }
  .footer__adress {
    text-align: left;
  }
  .footer__navigator {
    padding: 20px 0;
  }
}

.footer-navigator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9375rem;
  color: #fffff7;
}

.footer-navigator__item + .footer-navigator__item {
  padding-left: 30px;
}

@media screen and (max-width: 1200px) {
  .footer-navigator {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .footer-media-navigator {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90vw;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  word-break: break-all;
}

body.noscroll {
  overflow: hidden;
}

html {
  font-size: calc((100vw * 0.00485 ) +  10.18182px);
}

.js-btn-goto-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.js-btn-goto-top__img {
  height: 63px;
}
/*# sourceMappingURL=style.css.map */