@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.3/css/regular.css");
@import url("https://use.fontawesome.com/releases/v5.15.3/css/fontawesome.css");
.header {
  padding-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/first-view_img.png");
  background-size: cover;
  background-position: center;
  height: 768px;
}

.header-navigator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 1154px;
}

.site-logo__img {
  height: 36px;
}

.top-navigator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
}

.top-navigator__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-navigator__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 38px;
  color: #fffff7;
}

.main-contents {
  background-image: url("../../img/bgimg_other.png");
}

.concept {
  padding-top: 130px;
  min-width: 1366px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.concept__img {
  padding-left: 46px;
}

.concept-info {
  width: 538px;
}

.concept-info--info {
  width: 538px;
  text-align: right;
}

.concept-info__title {
  font-size: 3.9375rem;
  color: #372800;
  padding-bottom: 18px;
}

.concept-info__sub-title {
  font-size: 1.875rem;
  color: #4e3d1c;
  padding-bottom: 41px;
}

.concept-info .concept-info__message1, .concept-info .concept-info__message2, .concept-info .concept-info__message3 {
  font-size: 1rem;
  color: #3d3d3d;
}

.concept-info__message2 {
  line-height: calc(40 / 16);
}

.select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 1366px;
  padding-top: 90px;
  padding-bottom: 55px;
}

.select__img {
  padding-right: 46px;
}

.info {
  padding-top: 100px;
  padding-bottom: 90px;
  background-image: url("../../img/bgimg-info.png");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__title {
  font-size: 3.9375rem;
  color: #fffff7;
  padding-bottom: 18px;
}

.info__sub-title {
  font-size: 2.375rem;
  color: #fffff7;
  padding-bottom: 38px;
}

.info-box {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 825px;
  height: 337px;
  background-color: #fffff7;
}

.info-box__text-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 345px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-box__message {
  font-size: 1.125rem;
  line-height: calc(27.2 / 18);
  text-align: center;
  color: #626d83;
}

.info-box-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-box-logo__title {
  font-size: 1.4375rem;
}

.info-box-logo__decoration {
  height: 20px;
  padding: 19px;
}

.menu {
  padding-top: 100px;
  padding-bottom: 88px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__title {
  font-size: 3.9375rem;
  color: #372800;
  padding-bottom: 18px;
}

.menu__sub-title {
  font-size: 2.375rem;
  color: #4e3d1c;
  padding-bottom: 40px;
}

.menu__message {
  font-size: 1rem;
  line-height: calc(27.2 / 16);
  padding-top: 40px;
  text-align: center;
}

.menu-box {
  height: 456px;
  width: 1170px;
  background-color: #fffff7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-box__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-box__img {
  height: 275px;
  width: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-box__menu-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.125rem;
  color: #372800;
  padding-top: 27px;
  padding-bottom: 10px;
}

.menu-box__price {
  font-size: 1.25rem;
  color: #b84b1b;
}

.menu-box__price--unit {
  font-size: 0.875rem;
}

.access {
  padding-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.access__title {
  font-size: 3.9375rem;
  color: #372800;
  padding-bottom: 20px;
}

.access__sub-title {
  font-size: 1.9375rem;
  color: #4e3d1c;
  padding-bottom: 38px;
}

.access__message {
  font-size: 1rem;
  line-height: calc(27.2 / 16);
  padding-top: 40px;
  padding-bottom: 88px;
  text-align: center;
}

.access-map {
  width: 1170px;
  height: 341px;
}

.footer {
  padding-top: 66px;
  padding-bottom: 48px;
  background-image: url("../../img/bgimg_footer.png");
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__adress {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 1rem;
  color: #fffff7;
  line-height: calc(30 / 16);
  text-align: center;
}

.footer__mail {
  height: 33px;
}

.footer__navigator {
  padding: 50px 0;
}

.footer__copyright {
  font-size: 0.875rem;
  color: #fffff7;
}

.footer-navigator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9375rem;
  color: #fffff7;
}

.footer-navigator__item + .footer-navigator__item {
  padding-left: 30px;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}
/*# sourceMappingURL=style.css.map */