//font
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
//font-family: 'Noto Sans JP', sans-serif;
//font-family: 'Noto Serif JP', serif;

//font color
$main-text-color: #372800;
$sub-text-color: #fffff7;
$sub-text-color2: #4e3d1c;
$sub-text-color3: #3d3d3d;
$sub-text-color4: #626d83;
