//font
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
//font-family: 'Noto Sans JP', sans-serif;
//font-family: 'Noto Serif JP', serif;
//font-family: 'Oswald', sans-serif;

//font color
$main-text-color: #372800;
$sub-text-color: #fffff7;
$sub-text-color2: #4e3d1c;
$sub-text-color3: #3d3d3d;
$sub-text-color4: #626d83;
$sub-text-color5: #b84b1b;
$mail-box-color: #ebdbb0;

//font-size calc
//基準となる値を代入する
$base-fontsize1: 16;
$base-widthsize1: 1200;
$base-fontsize2: 12;
$base-widthsize2: 375;

$base-font-slope: ($base-fontsize1 - $base-fontsize2)/ ($base-widthsize1 -
      $base-widthsize2);
$base-font-intercept: $base-fontsize1 - $base-widthsize1 * $base-font-slope;

$base-font-size: #{"calc((100vw"} * $base-font-slope #{") + "}
  $base-font-intercept#{"px)"};
