.access {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    @include font-size(63);
    color: $main-text-color;
    padding-bottom: 20px;
  }
  &__sub-title {
    @include font-size(31);
    color: $sub-text-color2;
    padding-bottom: 38px;
  }
  &__message {
    @include font-size(16);
    line-height: calc(27.2 / 16);
    padding-top: 40px;
    padding-bottom: 88px;
    text-align: center;
  }
}

@include mq {
  .access {
    align-items: flex-start;
    padding-left: $left-margin-px;
    &__message {
      text-align: left;
      width: $media-width;
    }
    &__map {
      width: $media-width;
    }
  }
}
