.concept {
  @include padding-top(130);
  display: flex;
  justify-content: center;
  &__img {
    @include padding-left(46);
  }
}

@include mq {
  .concept {
    flex-direction: column;
    padding-left: $left-margin-px;
    &__img {
      width: $media-width;
      object-fit: cover;
      padding-left: 0;
      @include padding-top(20);
    }
  }
}
