.header {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/first-view_img.jpg");
  background-size: cover;
  background-position: center;
  height: 768px;
  max-width: 100vw;
}

@include mq {
  .header {
    height: 60vh;
  }
}
