.header {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/first-view_img.png");
  background-size: cover;
  background-position: center;
  height: 768px;
}

@include mq {
  .header {
    height: calc(768px / 1.5);
  }
}
