.info {
  @include padding-top(100);
  @include padding-bottom(90);
  background-image: url("../img/bgimg-info.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__title {
    @include font-size(63);
    color: $sub-text-color;
    //weight demi
    padding-bottom: 18px;
  }
  &__sub-title {
    @include font-size(38);
    color: $sub-text-color;
    /* padding-bottom: 38px; */
    @include padding-bottom(38);
  }
}

@include mq {
  .info {
    align-items: flex-start;
    padding-left: $left-margin-px;
  }
}
