.menu {
  padding-top: 100px;
  padding-bottom: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    @include font-size(63);
    color: $main-text-color;
    //weight demi
    padding-bottom: 18px;
  }
  &__sub-title {
    @include font-size(38);
    color: $sub-text-color2;
    padding-bottom: 40px;
  }
  &__message {
    @include font-size(16);
    line-height: calc(27.2 / 16);
    padding-top: 40px;
    text-align: center;
  }
}

@include mq {
  .menu {
    align-items: flex-start;
    padding-left: $left-margin-px;
    &__message {
      text-align: left;
    }
  }
}
