.concept-info {
  width: 538px;
  max-width: 80vw;
  &__title {
    @include font-size(63);
    color: $main-text-color;
    padding-bottom: 18px;
  }
  &__sub-title {
    @include font-size(30);
    color: $sub-text-color2;
    /* padding-bottom: 41px; */
    @include padding-bottom(41);
  }
  /*   %__message {
    @include font-size(16);
    line-height: 1.5;
    color: $sub-text-color3;
  } */
  &__message {
    &1 {
      @include font-size(16);
      line-height: 1.5;
      color: $sub-text-color3;
    }
    &2 {
      @include font-size(16);
      line-height: 1.5;
      color: $sub-text-color3;
      line-height: calc(40 / 16);
    }
    &3 {
      @include font-size(16);
      line-height: 1.5;
      color: $sub-text-color3;
    }
  }
  &--info {
    width: 538px;
    max-width: 80vw;
    text-align: right;
  }
}

@include mq {
  .concept-info {
    &--info {
      text-align: left;
    }
  }
}
