.info-box {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 825px;
  height: 337px;
  background-color: $sub-text-color;
  &__text-area {
    display: flex;
    width: 345px;
    flex-direction: column;
    max-width: 70vw;
  }
  &__message {
    @include font-size(18);
    line-height: calc(27.2 / 18);
    text-align: center;
    color: $sub-text-color4;
    padding-top: 19px;
  }
  &__img {
    width: 230px;
    object-fit: cover;
  }
}

@include mq {
  .info-box {
    width: $media-width;
    height: auto;
    padding-top: $left-margin-px;
    padding-bottom: $left-margin-px;
    flex-direction: column;
    &__img {
      width: 33vw;
      padding-bottom: $left-margin-px;
    }
  }
}
