@include mq {
  .nav-wrapper {
    transform: translateX(100%);
    transition: 0.3s;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    &__slide-in {
      transform: translateX(0);
      transition: 0.3s;
    }
  }
}
